################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vcxproj

# Exclude the build directory
/RigidBodyLab/build/
/external/stb
/extern/freeimage
